 {
	"name": "Wiki",
	"elements":  {
		"b46b862e-fb6e-4dad-b430-b33f770e7789":  {
			"name": "Gerelateerde begrippen",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "wiki"
			},
			"type": "relateditems"
		},
		"26077e87-242b-4002-8bc7-e2320b2cf1fe":  {
			"name": "Beschrijving",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"8c5af40a-b8a7-4cd2-8249-9035f7f805b5":  {
			"name": "Externe links",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"3d11cad0-4668-4461-891e-2ca5535a339f":  {
			"name": "Afbeelding",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"518bac67-f0be-4dc0-8614-ae5a995c98ec":  {
			"name": "Video",
			"description": "",
			"access": "1",
			"directory": "images\/video",
			"defaultwidth": "250",
			"defaultheight": "200",
			"defaultautoplay": "0",
			"type": "media"
		},
		"d0feb1bf-8562-43fc-8ca8-f56ce1e63659":  {
			"name": "",
			"description": "Social bookmarks",
			"access": "1",
			"default": "0",
			"google": "1",
			"technorati": "0",
			"yahoo": "0",
			"delicious": "0",
			"stumbleupon": "0",
			"digg": "0",
			"facebook": "1",
			"reddit": "0",
			"myspace": "0",
			"live": "0",
			"twitter": "1",
			"email": "0",
			"type": "socialbookmarks"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}